@page
@model Ballerinas.Views.Home.blog2Model
@{
}

<h3 style="text-align: center;"><b>The Ballet Blog!</b></h3>
<div class="carousel-inner">

<img src="~/NewFolder/background1 (2).jpeg"class="rounded img-fluid" width="100%" height="300">
    <div class="carousel-caption">
        <h3>EVERY CHILD SHOULD KNOW HOW IT FEELS TO DANCE!</h3>
        <p>
            This site was created to help dancers all over the world gain access to valuable information to enhance performance and prevent injury.  We are also here to help dancers struggling through injury accelerate their rehabilitation and shorten their time away from dancing.

        </p>
    </div>
</div>
<br>

<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/NewFolder/pic1.jpg" alt="Los Angeles" width="100%" height="300">

        </div>
        <div class="carousel-item">
            <img src="~/NewFolder/pic2.jpg" alt="Chicago" width="100%" height="300">

        </div>

    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>


<H2 style="text-align: center;"><b>Major Categories</b></H2>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="Blog2.cshtml">
                <br>
                <img src="~/NewFolder/Foot-Injuries.jpg" class="rounded img-fluid" width="225" height="225" />
            </a>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="Blog2.cshtml">
                <br>    <img src="~/NewFolder/Workshops.jpg" class="rounded img-fluid" width="225" height="225" />
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="Blog2.cshtml">
                <br>    <img src="~/NewFolder/Flexibilty.jpg" class="rounded img-fluid" width="225" height="225" />
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="Blog2.cshtml">
                <br>    <img src="~/NewFolder/Dance-Injuries.jpg" class="rounded img-fluid" width="225" height="225" />
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="Blog2.cshtml">
                <br>    <img src="~/NewFolder/Dance-Conditioning.jpg" class="rounded img-fluid" width="225" height="225" />
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="Blog2.cshtml">
                <br>     <img src="~/NewFolder/Info.jpg" class="rounded img-fluid" width="225" height="225" />
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="Blog2.cshtml">
                <br>     <img src="~/NewFolder/Core.jpg" class="rounded img-fluid" width="225" height="225" />
            </a>
        </div>


        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <a href="Blog2.cshtml">
                <br>
                <img src="~/NewFolder/Turnout.jpg" class="rounded img-fluid" width="225" height="225" />
            </a>
        </div>

    </div>
</div>


<BR>
<div class="carousel-inner">

    <img src="~/NewFolder/end.jpeg" class="rounded img-fluid opacity-50" width="100%" height="30%">
    <div class="carousel-caption">
        <h2>JOIN THE BALLERINAS BLOG</h2>

        <p>
            to get access to over 100 free articles & 10% off your first order!

            We promise not to clutter your inbox - but we will send you our latest tips, videos and promotions.
        </p>
        </p>
    </div>
</div>

<script src="~/js/site.js"></script>