@page
@model Ballerinas.Views.Home.blogModel
@{
}

<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark collapsibleNavbar">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#section1">Foot Injuries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section2">Stability</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section3">Workshops</a>
            </li>


        </ul>
</div>
    </nav>


<div id="section1" class="container-fluid  text-black text-decoration: ITALIAN" style="padding:100px 20px;">

    <h2 style="text-align: center;">Foot Injuries</h2>


    <div class="card-group">

        <div class="card bg-secondary">
            <div class="card-body text-center">
                <img src="~/NewFolder/p1.jpg" alt="CLASSICAL BALLET" width="200" height="200"><br>
                <p class="card-text" style="color: rgb(255, 240, 240); text-decoration: underline;">Bunions</p>

            </div>
        </div>
        <div class="card bg-secondary">
            <div class="card-body text-center">
                <img src="~/NewFolder/p2.jpg" alt="New York" width="200" height="200"><br>
                <p class="card-text" style="color: rgb(255, 250, 250); text-decoration: underline;">Pain at the back of Ankle</p>


            </div>
        </div>


        <div class="card bg-secondary">
            <div class="card-body text-center">
                <img src="~/NewFolder/p3.jpg" alt="New York" width="200" height="200"><br>
                <p class="card-text" style="color: rgb(255, 250, 250); text-decoration: underline;">Stress Fractures</p>
            </div>
        </div>


    </div>


</div>

<div id="section2" class="container-fluid  text-black text-decoration: ITALIAN" style="padding:100px 20px;">
    <h2 style="text-align: center;">Core Stability</h2>


    <div class="card-group">

        <div class="card bg-info">
            <div class="card-body text-center">
                <img src="~/NewFolder/p4.jpg" alt="CLASSICAL BALLET" width="200" height="200"><br>
                <p class="card-text" style="color: rgb(255, 240, 240); text-decoration: underline;">Importance of Crawling</p>

            </div>
        </div>
        <div class="card bg-info">
            <div class="card-body text-center">
                <img src="~/NewFolder/p5.jpg" alt="New York" width="200" height="200"><br>
                <p class="card-text" style="color: rgb(255, 250, 250); text-decoration: underline;">Core Exercises</p>


            </div>
        </div>
    </div>
</div>


<div id="section3" class="container-fluid text-black text-decoration: ITALIAN" style="padding:100px 20px;">
    <h1 style="text-align: center;">Workshops</h1>
    <br>  <p style="text-align: center;">
        <b>Level 1 Teacher Training Intensives</b><br>

        This workshop is now available as a live virtual workshop or a self-guided option. Both options give participants six months free access to the complete Level One Teacher Training Portal with detailed videos of all tests and exercises. Also included is an invitation to attend ongoing live coaching calls as well as recordings of over 50 previous coaching calls.
    </p>
    <br>


    <div class="card-group">

        <div class="card bg-secondary">
            <div class="card-body text-center">
                <img src="~/NewFolder/p6.jpg" alt="CLASSICAL BALLET" width="200" height="200"><br>

            </div>
        </div>
        <div class="card bg-secondary">
            <div class="card-body text-center">
                <img src="~/NewFolder/p7.jpg" alt="New York" width="200" height="200"><br>

            </div>
        </div>


        <div class="card bg-secondary ">
            <div class="card-body text-center">
                <img src="~/NewFolder/p8.jpg" alt="New York" width="200" height="200"><br>
            </div>
        </div>


    </div>
</div>


<div class="carousel-inner">

    <img src="~/NewFolder/end.jpeg" class="rounded img-fluid opacity-50" width="100%" height="30%">

    <div class="carousel-caption">

        <h2>JOIN THE BALLERINAS BLOG</h2>

        <p>
            to get access to over 100 free articles & 10% off your first order!

            We promise not to clutter your inbox - but we will send you our latest tips, videos and promotions.
        </p>

        </p>

    </div>

</div>




